body { 
    background-color: #474787;
}

.main { 
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.recipe-title { 
    font-size: 35px;
    color: #ccae62;
}

.footer { 
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.assistance .text { 
    font-size: 10px;
    color: #ffb142;
}

.assistance .image { 
    width: 150px;
    height: 50px;
}